@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h1{
    color:rgb(107, 29, 29);
    font-weight: 700;
    font-size: 20px;
}

p{
    line-height: 1.5;
    font-size: 16px;
    text-align: left;
}

.section__coloring{
    background-color:whitesmoke;
}

.text-color{
    color:rgb(75, 119, 33);
    font-size: 20px;
}

li{
    list-style-type: none;
}

/*NAVIGATION BAR*/

nav{
    height: 100px;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    position: relative;
    border-bottom: 2px solid black;
}

.contact-info{
    list-style-type: none;
}

.nav__link--list{
    display: flex;
}

.nav__link--button{
    margin: 0 18px;
    text-decoration: none;
    color: rgb(107, 29, 29);
    font-weight: 700;
}

.nav__link--button-style{
    background-color: navajowhite;
    padding: 6px 17px;
    border-radius: 80%;
    border: 2px solid rgb(226, 196, 150);

}

.company-logo{
    max-width: 40%;
    max-height: 40%;
}

/*INSTRUCTION SET*/

.instruction-set{
    max-width: 1000px;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    position: relative;
    border-bottom: 2px solid black;
}

.instruction-set__list{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.img-scaling{
    padding-bottom: 30px;
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*WARNINGS*/

.instruction-set__warnings{
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100px;
    width:100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;  
    padding-top: 10px; 
    padding-bottom: 50px; 
}


.instruction-set__warnings--warning-text{
    font-size: 18px;
    color: darkred;
}


